* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
  }
  
  #glavni {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 484px;
    width: 484px;
  }
  
  #slika {
    width: 484px;
    height: 484px;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
  }
  
  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 484px;
    height: 484px;
    pointer-events: none;
  }
  
  #barva {
    position: relative;
    top: 300px;
    right: 100px;
  }
  
  #controls {
    position: absolute;
    top: 750px;
    display: flex;
    gap: 10px;
  }
#startBtn{
  position: relative;
  left: 85px;
  height: 50px;
  width: 150px;
  border-radius: 5px solid white;
  background-color: blue;
}
